@font-face {
    font-family:'hanken vanlig';
    src: url(HankenGrotesk-VariableFont_wght.ttf);
    }
@font-face { 
        font-family:'Hero';
        src: url(Nightmare_Hero_Normal.ttf);
        }
body{
background-color: rgb(86, 86, 86);
overflow-x: hidden;
background-image: url(image.jpg);
    }

ul{
align-items: center;
list-style: none;
display: flex;
margin-left: 145px;
left: 600px;
}

li{
font-family: 'hanken vanlig';
color: white;
margin-left: 30px;
}

h1{
font-family: 'Hero';
letter-spacing: normal;
font-weight: lighter;
color: rgb(255, 255, 255);
text-align: left;
margin-top: 250px;
font-size: 100px;
margin-left: 100px;
}
   
h2{
    font-family: 'hanken vanlig';
    color: white;
    text-align: center;
    margin-top: 150px;
    font-size: 10px;
}

a {
text-decoration: none;
color: white;
}

body {margin:0;
    overflow: hidden;}

    
    .navbar {
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      text-align: left;
    }
    
    .navbar a {
      display: inline-block;
      color: #ffffff;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 19px;
      font-weight: 400;
    }
    
    .navbar a:hover {
      color: gray;
    }