@font-face {
  font-family:'hanken vanlig';
  src: url(HankenGrotesk-VariableFont_wght.ttf);
  }
@font-face { 
    font-family:'Hero';
    src: url(Nightmare_Hero_Normal.ttf);
  }

body {
  margin: 0;
  overflow-x: hidden;
  background-color: white;
  color: black;
}

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: left;
}
    
.navbar a {
  font-family: 'hanken vanlig';
  display: inline-block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
}
    
  .navbar a:hover {
    color: gray;
  }

h1{
  font-family: 'Hero';
  letter-spacing: normal;
  font-weight: lighter;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 150px;
  font-size: 100px;
 }

h2{
  font-family: 'hanken vanlig';
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 25px;
  font-size: 10px;
}

.section {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 10px;
}

.section h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-bottom: 20px;
}

.section p {
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-container img {
  margin-right: 20px;
}

.about-container p {
  flex: 1;
  text-align: left;
  font-size: 18px;
  color: white;
}
.yap {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

.yap h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-bottom: 20px;
}

.yap p {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
}