@font-face {
    font-family:'hanken kursiv';
    src: url(HankenGrotesk-Italic-VariableFont_wght.ttf);
    }
    
@font-face {
    font-family:'hanken vanlig';
    src: url(HankenGrotesk-VariableFont_wght.ttf);
    }
@font-face { 
        font-family:'Hero';
        src: url(Nightmare_Hero_Normal.ttf);
        }
body{
overflow-x: hidden;
    }

ul{
align-items: center;
list-style: none;
display: flex;
margin-left: 145px;
left: 600px;
}

li{
font-family: 'hanken vanlig';
color: white;
margin-left: 30px;
}

h1{
font-family: 'Hero';
letter-spacing: normal;
font-weight: lighter;
color: rgb(0, 0, 0);
text-align: center;
font-size: 80px;
}
   
h2{
    font-family: 'hanken vanlig';
    color: black;
    text-align: center;
    margin-top: 370px;
    font-size: 10px;
}

a {
text-decoration: none;
color: white;
}

body {margin:0;
    overflow: hidden;}

    
.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "inter";
  text-align: center;
}

.navbar a {
  float: left;
  display: block;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: rgb(209, 209, 209);
  color: black;
}