@font-face { /*Lägger till font som vi använder på hemsidan*/
  font-family:'hanken vanlig';
  src: url(HankenGrotesk-VariableFont_wght.ttf);
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  font-family: 'hanken vanlig'; /*Sätter att allt inom body kommer att vara denna font*/
  transition: all 0.5s;
  background: black;
  color: white;
}

h1{
  z-index: 1; /*Lägger h1 texten över navigationsbaren genom att lägga den överst i z-index*/
}

.navbar { /*CSS för navigationsbaren*/
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1; 
  text-align: left;
}

.navbar a { /*CSS för texten på navigationsbaren*/
  font-family: 'hanken vanlig';
  display: inline-block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
}

.navbar a:hover { 
  color: gray; /*När man hovrar över text på navigationsbaren kommer den att bli grå*/
}

i, 
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad,
.tom-pad {
  width: 50px;
  height: 50px;
  margin: 1px 3px;
  cursor: pointer;
  border-radius: 5px;
}


.kick-pad { /*CSS de olika trummplattorna när de inte är aktiverade*/
  background: radial-gradient(#b7dfff, #006aff);
}
.snare-pad {
  background: radial-gradient(#ffb7b7, #db0f00);
}
.hihat-pad {
  background: radial-gradient(#d7b7ff, #6a00ff);
}
.tom-pad {
  background: radial-gradient(#b7ffdf, #00ff00);
}
.kick-pad.active { /*CSS för trummplattorna när de är aktiverade*/
  width: 52px;
  height: 52px;
  background: radial-gradient(#aadaff, #004dcf); /*Lägger till en radial-gradient för att efterlikna en launchpad*/
  box-shadow:
    0 0 3px #FFF,
    0 0 3px #FFF,
    0 0 33px rgba(0, 119, 255, 0.8),
    0 0 36px rgba(0, 119, 255, 0.8),
    0 0 45px rgba(0, 119, 255, 0.8),
    inset 0 0 21px #FFF;
  z-index: 1;
}

.snare-pad.active {
  width: 52px;
  height: 52px;
  background: radial-gradient(#ffafbb, #ec0303);
  box-shadow:
  0 0 3px #FFF,
  0 0 3px #FFF,
  0 0 33px rgba(255, 0, 59, 0.8),
  0 0 36px rgba(255, 0, 59, 0.8),
  0 0 45px rgba(255, 0, 59, 0.8),
  inset 0 0 21px #FFF;
}
.hihat-pad.active {
  width: 52px;
  height: 52px;
  background: radial-gradient(#d2abff, #6b00cf);
  box-shadow:
  0 0 3px #FFF,
  0 0 3px #FFF,
  0 0 33px rgba(107, 0, 207, 0.8),
  0 0 36px rgba(107, 0, 207, 0.8),
  0 0 45px rgba(107, 0, 207, 0.8),
  inset 0 0 21px #FFF;
}
.tom-pad.active {
  width: 52px;
  height: 52px;
  background: radial-gradient(#d1ffea, #00c600);
  box-shadow:
  0 0 3px #FFF,
  0 0 3px #FFF,
  0 0 33px rgba(0, 185, 12, 0.8),
  0 0 36px rgba(0, 185, 12, 0.8),
  0 0 45px rgba(0, 185, 12, 0.8),
  inset 0 0 21px #FFF;
}
.sequencer {
  display: flex;
  min-height: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hihat-track, /*CSS för tracks*/
.snare-track,
.kick-track,
.tom-track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 5px;
}
.kick,
.snare,
.hihat,
.tom {
  display: flex;
}
.controls { /*CSS för kontrollerna*/
  justify-content: space-between;
  align-items: center;
  margin: 0px 2px;
}
.controls button { /*CSS för de olika kontrollknapparna*/
  padding: 15px;
  border: none;
  background: rgb(33, 33, 33);
  color: rgb(255, 255, 255);
  font-size: 15;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 5px;
}

select { /*CSS för drop-down menyn där man väljer de olika trummorna samt mute-knapparna*/
  background: rgb(33, 33, 33); /*Bakgrundsfärgen för mute-knapparna när de inte är aktiverade*/
  border-radius: 5px;
  font-family: 'hanken vanlig'; /*Ändrar fonten på texten som visas på drop-down menyn*/
  color: white;
  border: 0px solid rgb(0, 0, 0);
}
.pad {
  transition: all 0.5s ease;
}
.play { /*CSS för play och pause knappen*/
  padding: 15px 30px;
  font-size: 25px;
  font-family: 'hanken vanlig';
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

select {
  padding: 10px;
  font-size: 10px;
}
.mute.active { 
  background: rgb(255, 0, 0); /*Ändrar bakgrundsfärg till röd på mute-knapparna när de aktiveras*/
}

.tempo {
  margin: 10px;
  width: 30%;
}
.tempo-slider { /*CSS för tempo slidern*/
  padding: 2px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0px;
  width: 100%;
  position: relative;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 20px;
}
.tempo p {
  font-size: 30px;
  margin: 0px;
  text-align: center;
}

@keyframes playTrack { /*Lägger till en animation för funktionen playTrack som ändrar trummplattorna till olika storlekar beroende på om det är aktivt eller inte*/
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}