@font-face {
  font-family:'hanken vanlig';
  src: url(HankenGrotesk-VariableFont_wght.ttf);
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'hanken vanlig';
  transition: all 0.5s;

}
/*body {
  overflow: hidden; /* Hide scrollbars 
}*/

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: left;
}

.navbar a {
  font-family: 'hanken vanlig';
  display: inline-block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
}

.navbar a:hover {
  color: gray;
}

i, 
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad,
.tom-pad {
  width: 50px;
  height: 50px;
  margin: 1px 3px;
  cursor: pointer;
  border-radius: 5px;
}


.kick-pad {
  background: rgb(100, 100, 100);
}
.snare-pad {
  background: rgb(180, 180, 180);
}
.hihat-pad {
  background: rgb(100, 100, 100);
}
.tom-pad {
  background: rgb(180, 180, 180);
}
.kick-pad.active {
  background: rgb(50, 50, 50);
}
.snare-pad.active {
  background: rgb(50, 50, 50);
}
.hihat-pad.active {
  background: rgb(50, 50, 50);
}
.tom-pad.active {
  background: rgb(50, 50, 50);
}
.sequencer {
  display: flex;
  min-height: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hihat-track,
.snare-track,
.kick-track,
.tom-track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 5px;
}
.kick,
.snare,
.hihat,
.tom {
  display: flex;
}
.controls {
  justify-content: space-between;
  align-items: center;
  margin: 0px 2px;
}
.controls button {
  padding: 15px;
  border: none;
  background: rgb(103, 102, 102);
  color: white;
  font-size: 15;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 15px 30px;
  font-size: 10px;
  font-family: 'hanken vanlig';
  background: rgb(88, 88, 88);
  color: white;
  border: 20px;
  cursor: pointer;
  margin-top: 30px;
}

.play:hover {
  background: rgb(50, 50, 50);
}

select {
  padding: 10px;
  font-size: 10px;
}
.mute.active {
  background: rgb(56, 56, 56);
}

.tempo {
  margin: 10px;
  width: 30%;
}
.tempo-slider {
  padding: 2px;
  -webkit-appearance: none;
  margin: 10px 0px;
  width: 100%;
  position: relative;
  background: rgb(80, 80, 80);
  cursor: pointer;
  border-radius: 20px;
}
.tempo p {
  font-size: 30px;
  margin: 0px;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


#recordButton {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  color: #fff;
  background-color: #28a745;
}

#recordButton:hover {
  background-color: #218838;
}

#stopButton {
  padding: 15px 30px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  color: #fff;
  background-color: #dc3545;
}

#stopButton:hover {
  background-color: #c82333;
}

#downloadLink {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

#downloadLink:hover {
  color: #0056b3;
  text-decoration: underline;
}