@font-face {
  font-family:'hanken vanlig';
  src: url(HankenGrotesk-VariableFont_wght.ttf);
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'hanken vanlig';
  transition: all 0.5s;
  background: black;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  text-align: left;
}

.navbar a {
  font-family: 'hanken vanlig';
  display: inline-block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
}

.navbar a:hover {
  color: gray;
}

i, 
svg {
  pointer-events: none;
}
.kick-pad,
.snare-pad,
.hihat-pad,
.tom-pad {
  width: 50px;
  height: 50px;
  margin: 1px 3px;
  cursor: pointer;
  border-radius: 5px;
}


.kick-pad {
  background: radial-gradient(#b7dfff, #006aff);
}
.snare-pad {
  background: radial-gradient(#ffb7b7, #ff2600);
}
.hihat-pad {
  background: radial-gradient(#d7b7ff, #6a00ff);
}
.tom-pad {
  background: radial-gradient(#b7ffdf, #00ff00);
}
.kick-pad.active {
  width: 52px;
  height: 52px;
  background: radial-gradient(#aadaff, #004dcf);
  box-shadow: 0 0 12px 5px rgba(0, 119, 255, 0.8);
}
.snare-pad.active {
  width: 52px;
  height: 52px;
  background: radial-gradient(#ffafbb, #ec0303);
  box-shadow: 0 0 12px 5px rgba(255, 0, 59, 0.8);
}
.hihat-pad.active {
  width: 52px;
  height: 52px;
  background: radial-gradient(#d2abff, #6b00cf);
  box-shadow: 0 0 12px 5px rgba(107, 0, 207, 0.8);
}
.tom-pad.active {
  width: 52px;
  height: 52px;
  background: radial-gradient(#d1ffea, #00c600);
  box-shadow: 0 0 12px 5px rgba(0, 185, 12, 0.8);;
}
.sequencer {
  display: flex;
  min-height: 1000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.hihat-track,
.snare-track,
.kick-track,
.tom-track {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 5px;
}
.kick,
.snare,
.hihat,
.tom {
  display: flex;
}
.controls {
  justify-content: space-between;
  align-items: center;
  margin: 0px 2px;
}
.controls button {
  padding: 15px;
  border: none;
  background: rgb(103, 102, 102);
  color: white;
  font-size: 15;
  cursor: pointer;
  transition: all 0.5s ease;
}
.pad {
  transition: all 0.5s ease;
}
.play {
  padding: 15px 30px;
  font-size: 10px;
  font-family: 'hanken vanlig';
  background: rgb(88, 88, 88);
  color: white;
  border: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.play:hover {
  background: rgb(50, 50, 50);
}

select {
  padding: 10px;
  font-size: 10px;
}
.mute.active {
  background: rgb(255, 0, 0);
}

.tempo {
  margin: 10px;
  width: 30%;
}
.tempo-slider {
  padding: 2px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0px;
  width: 100%;
  position: relative;
  background: rgb(80, 80, 80);
  cursor: pointer;
  border-radius: 20px;
}
.tempo p {
  font-size: 30px;
  margin: 0px;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}